<section class="about" id="about">
    <div class="container">
        <h2 class="about__subtitle section-subtitle">Расскажем вам</h2>
        <h3 class="about__title section-title"><b class="colored">Н</b>емного о нас</h3>
        <div class="about__info">
            <div class="about__left">
                <div class="about__text">
                    <p class="about__paragraph">Ваш дом — ваше пространство, которое мы поможем превратить в удивительное место с нашими лестницами. Наша бригада специализируется на индивидуальном изготовлении монолитных лестниц из бетона любой сложности.
                    </p>
                    <p class="about__paragraph">
                        Вот уже более 5 лет мы изготавливаем прочные и надежные лестницы по доступной цене. Работаем в Тюмени и близлежащих населенных пунктах.
                    </p>
                </div>
                <button class="btn-reset btn btn_main about__btn">Узнать подробнее</button>
            </div>
            <div class="about__right">
                <h4 class="about__advantages-title h4-title">
                    <b class="about__advantages-title-color h4-title-color">Н</b>аши преимущества
                </h4>
                <ul class="list-reset about__list">
                    <li class="about__list-item">Средний срок изготовления - 3 дня
                    </li>
                    <li class="about__list-item">При заказе у нас от двух летниц предоставляем  
                        приятные скидки</li>
                    <li class="about__list-item">Гарантия 15 лет</li>
                    <li class="about__list-item">Любая форма оплаты</li>
                    <li class="about__list-item">Помощь в закупке качественного стройматериала</li>
                </ul>
            </div>
        </div>
        
        <div class="about__images">
            <img loading="lazy" src="./assets/img/webp/about_1.webp" class="about__img" width="530" height="377" alt="Лестница прямая">
            <img loading="lazy" src="./assets/img/webp/about_2.webp" class="about__img" width="526" height="377" alt="Лестница винтовая">
        </div>
    </div>
</section>