<section class="choose">
    <div class="container">
        <h2 class="choose__subtitle section-subtitle">сделайте свой выбор</h2>
        <h3 class="choose__title section-title">Почему люди выбирают бетоные
            монолитные лестницы?</h3>
        <div class="choose__why">
            <img loading="lazy" src="./assets/img/webp/cement.webp" class="choose__img" width="529" height="394" alt="Винтовая лестница">
            <ul class="list-reset choose__list">
                <li class="choose__item">Любая форма изготовления</li>
                <li class="choose__item">Самонесущая конструкция</li>	
                <li class="choose__item">Долговечность и прочность</li> 
                <li class="choose__item">Отсутствие гула, скрипа, вибраций
                (в отличии от металлических и деревянных лестниц)</li>
                <li class="choose__item">Хорошая устойчивость к воздействию внешней среды 
                (не подвержена коррози, гниению и т.д)</li>
                <li class="choose__item">Большое разнообразие материалов для отделки 
                (дерево, плитка, камень, ламинат, кавролин и др.)</li>
            </ul>
        </div>
        <div class="choose__cooperate">
            <h3 class="choose__cooperate-title section-subtitle">удобные условия сотудничества</h3>
            <div class="choose__cooperate-wrapper">
                <div class="choose__cooperate-item cooperate-item">
                    <div class="cooperate-item__img">
                        <svg class="cooperate-item__svg">
                          <use xlink:href="assets/svg/sprite.svg#cooperation-1"></use>
                        </svg>
                    </div>
                    <div class="cooperate-item__descr">Позвоните нам и мы 
                        вас проконсультируем</div>
                </div>
                <div class="choose__cooperate-item cooperate-item">
                    <div class="cooperate-item__img">
                        <svg class="cooperate-item__svg">
                          <use xlink:href="assets/svg/sprite.svg#cooperation-2"></use>
                        </svg>
                    </div>
                    <div class="cooperate-item__descr">Бесплатно приедем на замер и сделаем проект с 3D визуализацией</div>
                </div>
                <div class="choose__cooperate-item cooperate-item">
                    <div class="cooperate-item__img">
                        <svg class="cooperate-item__svg">
                          <use xlink:href="assets/svg/sprite.svg#cooperation-3"></use>
                        </svg>
                    </div>
                    <div class="cooperate-item__descr">После утверждения сметы 
                        и проекта заключаем договор</div>
                </div>
                <div class="choose__cooperate-item cooperate-item">
                    <div class="cooperate-item__img">
                        <svg class="cooperate-item__svg">
                          <use xlink:href="assets/svg/sprite.svg#cooperation-4"></use>
                        </svg>
                    </div>
                    <div class="cooperate-item__descr">Оплата нал/безнал, согласно
                        подписанного договора</div>
                </div>
            </div>
            
        </div>
    </div>
</section>