<section class="examples" id="examples">
    <div class="container">
        <h2 class="examples__subtitle section-subtitle">выбери себе лестницу</h2>
        <h3 class="examples__title section-title"><b class="colored">П</b>римеры работ</h3>
    </div>
    <div class="swiper examples-swiper">
        <div class="swiper-wrapper examples-swiper__wrapper">
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_1.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница забежная П-образная">
            </div>
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_2.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница прямая 2-маршевая П-образная с промежуточной площадкой">
            </div>
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_3.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница полувинтовая">
            </div>
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_1.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница забежная П-образная">
            </div>
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_2.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница прямая 2-маршевая П-образная с промежуточной площадкой">
            </div>
            <div class="swiper-slide examples-swiper__slide">
                <img loading="lazy" src="./assets/img/webp/example_3.webp" class="examples-swiper__slide-img" width="453" height="471" alt="Лестница полувинтовая">
            </div>
        </div>

        <div class="examples-swiper__control">
            <div class="swiper-pagination examples-swiper__pagination"></div>
            <div class="examples-swiper__divider"></div>
            <div class="swiper-button-prev swiper-btn examples-swiper__prev"></div>
            <div class="swiper-button-next swiper-btn examples-swiper__next"></div>
            <button class="btn-reset btn btn_main examples-swiper__btn" data-popup="feedback">Смотреть все</button>
        </div>

        
    </div>
</section>