<footer class="footer">
    <div class="footer__body">
        <div class="container">
            <div class="footer__grid">
                <a href="#" class="logo footer__logo" aria-label="Логотип Лестницы на заказ">
                    <img loading="lazy" src="./assets/img/logo.svg" class="logo-svg" width="183" height="44" alt="Логотип Лестницы на заказ">
                </a>
                <nav class="nav footer__nav" title="Меню навигации по сайту">
                    <ul class="list-reset nav__list">
                        <li class="nav__item"><a href="#about" class="nav__link">О нас</a></li>
                        <li class="nav__item"><a href="#choose" class="nav__link">Наши преимущества</a></li>
                        <li class="nav__item"><a href="#production" class="nav__link">Формы лестниц</a></li>
                        <li class="nav__item"><a href="#examples" class="nav__link">Примеры работ</a></li>
                        <li class="nav__item"><a href="#questions" class="nav__link">Оформить заявку</a></li>
                        <li class="nav__item"><a href="#header" class="nav__link">Контакты</a></li>
                    </ul>
                </nav>
                <div class="footer__contacts">
                    <address class="footer__address">Россия, г. Тюмень,</address>
                    <a href="tel:+79829326234" target="_blank" class="footer__phone phone-link">+7(982)932-62-34</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer__rights">Лестницы на заказ. Бетонные, монолитные © 2020-2024 гг. Тюмень - Все права защищены</div>
</footer>