<section class="hero" style="background-image: url('./assets/img/webp/hero.webp');">
    <div class="container hero__container">
        <h1 class="hero__title main-title">
            <b class="hero__title-bold">И</b>зготавливаем монолитные
            бетонные лестницы
        </h1>
        <div class="hero__measure">
            <h2 class="hero__subtitle"><b class="hero__subtitle-color">Бесплатный</b> выезд, замер и 3D-визуализация</h2>
        </div>

        <button class="btn-reset btn btn_measure hero__btn">Заказать замер</button>
    </div>
</section>