<div class="popups">
    <div class="popup-overlay">
        <div class="popup" data-target="feedback">
            <button class="btn-reset popup-close"></button>
            <form action="#" class="popup__form">
                <input type="text" name="name" required placeholder="Имя" class="input-reset popup__input">
                <input type="tel" name="phone" required placeholder="Телефон" class="input-reset popup__input">
                <input type="email" name="email" required placeholder="Email" class="input-reset popup__input">
                <button class="btn-reset btn btn_measure popup__send">Отправить</button>
            </form>
        </div>
    </div>

</div>