<section class="production" id="production">
    <div class="container">
        <h2 class="production__subtitle section-subtitle">наша продукция</h2>
        <h3 class="production__title section-title"><b class="colored">Ф</b>орма лестниц</h3>
        <div class="production__grid">
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница прямая одномаршевая</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-1.svg" class="item-production__svg" width="157" height="133" alt="Лестница прямая одномаршевая">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 30 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница прямая 2-маршевая Г-образная с промежуточной площадкой</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-2.svg" class="item-production__svg" width="157" height="188" alt="Лестница прямая 2-маршевая Г-образная с промежуточной площадкой">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 45 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница прямая 2-маршевая П-образная с промежуточной площадкой</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-3.svg" class="item-production__svg" width="196" height="161" alt="Лестница прямая 2-маршевая П-образная с промежуточной площадкой">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 60 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница забежная Г-образная</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-4.svg" class="item-production__svg" width="139" height="162" alt="Лестница забежная Г-образная">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 50 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница забежная П-образная</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-5.svg" class="item-production__svg" width="181" height="157" alt="Лестница забежная П-образная">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 60 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница полувинтовая</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-6.svg" class="item-production__svg" width="177" height="171" alt="Лестница полувинтовая">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 80 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница винтовая бетонная</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-7.svg" class="item-production__svg" width="109" height="189" alt="Лестница полувинтовая">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 80 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница парадная, фасадная</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-8.svg" class="item-production__svg" width="179" height="102" alt="Лестница полувинтовая">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 80 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
            <article class="production__item item-production">
                <h4 class="item-production__title">Лестница нестандартная, 
                    нетиповая, любая иная</h4>
                <div class="item-production__img">
                    <img loading="lazy" src="./assets/img/form-9.svg" class="item-production__svg" width="131" height="190" alt="Лестница полувинтовая">
                </div>
                <div class="item-production__bottom">
                    <span class="item-production__cost">от 80 000 ₽</span>
                    <button class="btn-reset btn btn_main item-production__btn">Уточнить стоимость</button>
                </div>
            </article>
        </div>
    </div>
</section>