<section class="questions" id="questions">
    <img loading="lazy" src="./assets/img/webp/girl.webp" class="questions__img" width="540" height="725" alt="Оформите заявку на заказ и мы вам перезвоним!">
    <div class="container questions__container">
        <div class="questions__descr">
            <div class="questions__str">У вас остались вопросы?</div>
            <div class="questions__str">Хотите вызвать замерщика?</div>
            <div class="questions__str">Оформите заявку на заказ и мы вам перезвоним!</div>
        </div>
        <button class="btn-reset btn btn_main questions__btn">Оформить заявку</button>
    </div>
</section>