$container-offset: 15px;
$site-container-width: 1400px;
$container-width: 1110px;
$section-offset: 60px;

$grid-gap: 20px;

$maxWidth: 1400;
$minWidth: 320;

//COLORS

$white: #ffffff;
$main-color: #ff6600;
$orange: #e65c00;
$black-bg: #130f0e;
$black: #000000;
$text: #1e1e1e;
$text-white-light: #fcfcfc;
$gray-300: #474747;
$gray-100: #aeaeae;
$gray-500: #282828;
$gray-400: #292929;
$gray-200: #414c51;